@import url("https://fonts.googleapis.com/css?family=Niramit");

:root {
  --input-color: #f0f0f0;
  --controls-color: var(--input-color);
  --query-view-color: var(--input-color);
  --denim: #1a2930;
  --box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --border-radius-main: 0px;
  --border-radius-secondary: 0px;
  --light-blue: #0072bb; /*To prvni je CVUT barva, to druhe vic vibrance #0073cf; */
  --element-width: 80vw;
  --body-color: #30548a;
  --convert-button-height: 4rem;
  --notation-switch-height: 3rem;
  --convert-button-gap: 0.3em;
  --light-blue-hover: #0067ab;
  --almost-white-gradient: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 82%, rgb(255, 255, 255) 97%);
}

button {
  font-family: inherit;
}

.controls-label {
  position: absolute;
  color: white;
  font-size: 1.25rem;
  top: -2em;
}

.katex-display > .katex { white-space: normal }
/* Add space between broken lines: */
.katex-display > .base { margin: 0.25em 0 }
/* Compensate by reducing space around display math */
.katex-display { margin: 0.5em 0; }

body {
  background: var(--body-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 8px;
  padding-bottom: 8vh;
}

.app-wrapper {
  display: flex;
  width: 80vw;
  flex-direction: column;
  gap: 64px;
  margin-left: auto;
  margin-right: auto;
}

.tables-panel {
  display: flex;
  justify-content: center;
  gap: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error-field {
  color: red;
  display: flex;
  justify-content: center;
}

.converted-text {
  display: flex;
  border: black solid 1px;
  width: 120px;
  height: 25px;
  color: black;
  overflow: hidden;
  padding: 2px;
}

.converted-text:hover {
  display: flex;
  align-self: center;
  width: fit-content;
}

.query-view:first-of-type {
  margin-top: 12px;
}

.RichEditor-root {
  font-family: "Computer Modern Sans", sans-serif;
  font-size: 14px;
  box-shadow: var(--box-shadow);
  color: #1a2930;
  padding: 0 15px 0 15px;
  position: relative;
}